body {
  font-size: 16px;
  line-height: 1.375;
  font-family: $RobB;
  color: $main-color;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}
.border {
  border: 1px solid red;
}


/*

h1,
.h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-family: $RobB;
}

p,
.p {
  font-size: 18px;
  line-height: 1.875rem;
  color: $main-color;
  font-family: $CenB;
}
*/
