$r: "RobotoRegular", Arial, sans-serif;
$rb: "RobotoBold", Arial, sans-serif;
$rl: "RobotoLightr", Arial, sans-serif;
$rm: "RobotoMedium", Arial, sans-serif;


$main-color: #919191;
$gray: #252e30;
$green: #2ecc71;
$line: #ccc;
$text:#566366;




