$CenB: "PFCentroSlabProBold", Arial, sans-serif;
$CenM: "PFCentroSlabProMedium", Arial, sans-serif;
$RalB: "RalewayBold", Arial, sans-serif;
$RalR: "RalewayRegular", Arial, sans-serif;
$RalS: "RalewaySemiBold", Arial, sans-serif;
$RobB: "RobotoBold", Arial, sans-serif;


$main-color: #f39f18;
/*
$gray: #252e30;
$green: #2ecc71;
$line: #ccc;
$text:#566366;
*/





