section#about
  .container1600
    .about
      .container
        .row
          .col-sm-15.col-md-7.col-lg-5
            .about-img__wrap
              .about-img
                img(src='img/about-bg--small.jpg', height="757", width="613")
          .col-sm-15.col-md-8.col-lg-9.col-lg-offset-1
            .about-descr
              h2.about-descr__title.wow.lightSpeedIn(data-wow-duration="1s",data-wow-offset="50", data-wow-iteration="1") About me
              p.about-descr__text
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
              p.about-descr__text
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.
            .about-items
              .row
                .col-sm-7.col-lg-7
                  .about-item.about-item--web
                    h3.about-item__title Web Design
                    p.about-item__text
                      | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
                  .about-item.about-item--online
                    h3.about-item__title Online Marketing
                    p.about-item__text
                      | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
                .col-sm-8.col-lg-8
                  .about-item.about-item--graphic
                    h3.about-item__title Graphic Design
                    p.about-item__text
                      | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
                  .about-item.about-item--seo
                    h3.about-item__title SEO
                    p.about-item__text
                      | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.



