extends ../blocks/layout/layout
block append head
  +styles('vendor/font-awesome/css/font-awesome.css', 'vendor/bootstrap/dist/css/bootstrap.css','css/styles.css')
block title
  title Jadi5
block content
  include include/header


  script(src="vendor/jquery/dist/jquery.js")
  script(src="vendor/bootstrap/dist/js/bootstrap.js")
  script(src="js/app.js")
